/*** Browse CSS ***/
#site-wrapper {
    .browse-page {
        .heading {
            h1 {
                font-size: 30px;

                @media screen and #{$screen-xs} {
                    margin-bottom: 2px;
                }
            }

            @media screen and #{$screen-xs} {
                padding-bottom: 20px;

                .pull-right { float: none !important; }
            }

            li.filter-icon {

                span.glyphicon {
                    padding: 9px;
                    border: 1px solid #337ab7;
                    border-radius: 5px;
                    padding-left: 10px;
                    cursor: pointer;
                    color: #337ab7 !important;
                }
                span.active-icon {
                    background-color: white;
                    border:1px solid #0088cc;
                }
            }
            li.faded-icon span.glyphicon {
                padding: 9px;
                border: 1px solid #999;
                border-radius: 5px;
                padding-left: 10px;
                cursor: pointer;
                opacity: .3;
                color: #333 !important;
                transition: 0.5s all;

                &:hover {
                    opacity: 1;
                    border: 1px solid #999;
                    background: white;
                    color: black !important;
                }
            }
            li.filter {
                h4 {
                    cursor: pointer;
                }
                span.glyphicon {
                    font-size: .7em;
                    margin: 0 0 0 6px;
                }
            }

            .divider-vertical {
                height: 35px;
                margin: 9px 9px 0;
                border-right: 1px solid #f1f2f2;
            }
            .browse-filters {
                @media screen and #{$screen-sm} {
                    margin-top: 10px;
                }

                ul {
                    margin: 0px;
                    padding: 0px;
            
                    li {
                        float: left;
                        list-style: none;
                        margin-left: 20px;

                        @media screen and #{$screen-xs} {
                            margin-left: 0;
                        }
                        
                        &.filter-icon {
                            margin: 10px 5px 0 6px;
                        }
            
                        &.filter {
                            border-right: 1px solid #f1f2f2;
                            border-left: 1px solid #f1f2f2;

                            p {
                                text-transform: uppercase;
                                color:#bbb;
                                font-weight: bold;
                                margin: 6px 0 8px 0;
                                font-size: 11px;
                            }
                            h4 {
                                color:#222;
                                margin: 0px;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }

        .browse-items  {
            margin: 35px 0 0 0;

            table {
                max-width: 100%;
            }
            table thead td {
                font-weight: bold;
            }
            table thead tr td {
                border-bottom:4px solid #f3f3f3;
                font-size: 12px;
                font-family: Montserrat;
                font-weight: 700;
                text-transform: uppercase;
            }
            table tbody tr td {
                padding-top:18px;
                border-bottom:1px solid #e9e9e9;
                padding-bottom: 20px;
                
                &:nth-child(3n){
                    min-width: 70px;
                }
                &:nth-child(4n){
                    min-width: 300px;

                    @media screen and #{$screen-md} {
                        min-width: 240px;
                    }
                }
                &:nth-child(5n){
                    min-width: 120px;
                }
            }
            table img {
                max-height: 88px;
                max-width: 88px;
                margin: 0 auto;

                @media screen and #{$screen-xs} {
                    max-width: 75px;
                }
            }
            table tbody tr:last-of-type td {
                border-bottom: none;
            }
            table tbody td.browse-image {
                text-align: center;
                width: 110px;

                @media screen and #{$screen-xs} {
                    width: 50px;
                }
            }
            table tbody td.browse-title {
                font-size: 24px;
                width: 400px;
                padding-right: 20px;
                
                @media screen and #{$screen-md}, #{$screen-sm} {
                    font-size: 21px;
                    width: 340px;
                }

                @media screen and #{$screen-xs} {
                    padding-right: 15px;
                    width: 75%;

                    a {
                        font-size: 18px;
                        line-height: 24px;
                        display: block;
                    }
                }
            }
            table tbody td.browse-title a {
                color: #333;
                word-wrap: break-word;
            }

            .browse-item {
                margin-bottom: 40px;
                min-height: 250px;

                @media screen and #{$screen-xs} {
                    min-height: 175px;
                    margin-bottom: 15px;
                }
            
                .item {
                    img {
                        width: 100%;
                        height: auto;
                        max-height: 200px;

                        @media screen and #{$screen-xs} {
                            max-height: 155px;
                        }
                    }
                    a {
                        font-size: 14px;
                        color: black;
                    }
                    p {
                        margin: 10px 0 0;
                        height: 40px;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        width: 100%;
                        line-height: 21px;
                    }
                }
            }
        }
        .browse-top-details {
            border-bottom:1px solid #ddd;
        }
        .gray-area {
            background: #f3f3f5;
            padding:0px;
            max-height: 50px;
            overflow: hidden;
            margin: 50px 0 0px;
        }
    }

    .search-crumbs {
        @media screen and #{$screen-xs} {
            display: none;
        }
    }
    .search-crumbs .list-inline > li {
        font-size: 12px;
        line-height: 18px;
    
        span { font-weight: 700; }
    }
    
    .view-empty {
        padding-bottom: 100px;
    
        h2 { margin: 40px 0 15px; }
    }
    
    ul.pagination {
        font-family: Montserrat;
        margin: 0;
        padding: 0;
    
        li {
            cursor: pointer;
            a {
                background: none;
                color:#58585a;
                border:none;
                padding: 14px 20px;
                font-weight: 700;
                text-transform: capitalize;
                font-family: Merriweather;
                font-size: 12px;
                height: 52px;
                line-height: 24px;
    
                &:hover {
                    color:#3b3c3e;
                }
            }
            
            &.active a {
                background: #0076bd;
                color:#FFF;
            }
            &.faded a {
                color:#c1c1c3;
    
                &:hover {
                    color:#c1c1c3;
                }
            }
        }
    }
}

@media screen and #{$screen-xs} {            
    .view-browse .browse-items {
        margin: 35px -15px 0 !important;
    }
}