/*** Browse CSS ***/
#site-wrapper .browse-page {

}

#site-wrapper .browse-top-details {
    border-bottom:1px solid #ddd;
}

.non-homepage .navbar {
    margin-bottom: 40px;
    border-radius: 0;
    padding: 12px 0;
    border-bottom: 1px solid #ccc;
    background: #3a3a3c;
}

#site-wrapper .browse-page .heading h1 {
    font-size: 30px;
}

#site-wrapper .browse-page .heading li.filter-icon span.glyphicon {
    padding: 9px;
    border: 1px solid #337ab7;
    border-radius: 5px;
    padding-left: 10px;
    cursor: pointer;
    color: #337ab7 !important;
}

#site-wrapper .browse-page .heading li.filter-icon span.active-icon {
    background-color: white;
    border:1px solid #0088cc;
}

#site-wrapper .browse-page .heading li.faded-icon span.glyphicon {
    padding: 9px;
    border: 1px solid #999;
    border-radius: 5px;
    padding-left: 10px;
    cursor: pointer;
    opacity: .3;
    color: #333 !important;
    transition: 0.5s all;
}

#site-wrapper .browse-page .heading li.faded-icon span.glyphicon:hover {
    opacity: 1;
    border: 1px solid #999;
    background: white;
    color: black !important; 
}

#site-wrapper .browse-page .heading li.filter h4 {
    cursor: pointer;
}

#site-wrapper .browse-page .heading li.filter span.glyphicon {
    font-size: .7em;
    margin: 0 0 0 6px;
}


#site-wrapper .browse-page .heading .divider-vertical {
    height: 35px;
    margin: 9px 9px 0;
    border-right: 1px solid #f1f2f2;
}

#site-wrapper .browse-page .heading .browse-filters {
    /*display: none;*/
}

#site-wrapper .browse-page .heading .browse-filters ul {
    margin: 0px;
    padding: 0px;
}

#site-wrapper .browse-page .heading .browse-filters ul li {
    float: left;
    list-style: none;
    margin-left: 20px;
}

#site-wrapper .browse-page .heading .browse-filters ul li.filter-icon {
    margin: 10px 5px 0 6px;
}

#site-wrapper .browse-page .heading .browse-filters .filter p {
    text-transform: uppercase;
    color:#bbb;
    font-weight: bold;
    margin: 6px 0 8px 0;
    font-size: 11px;
}

#site-wrapper .browse-page .heading .browse-filters li.filter h4 {
    color:#222;
    margin: 0px;
    font-size: 14px;
}

#site-wrapper .browse-page .heading hr {
    border-color: #bfbfbf;
}

#site-wrapper .browse-page .browse-items  {
    margin:35px 0 0 0;
}

#site-wrapper .browse-page .browse-items table  thead td {
    font-weight: bold;
}

#site-wrapper .browse-page .browse-items table  thead tr td {
    border-bottom:4px solid #f3f3f3;
}

#site-wrapper .browse-page .browse-items table tbody td {
    padding-top:18px;
    border-bottom:1px solid #e9e9e9;
    padding-bottom: 20px;
}

#site-wrapper .browse-page .browse-items table img {
    max-height: 88px;
    max-width: 88px;
    margin: 0 auto;
}

#site-wrapper .browse-page .browse-items table tbody td.browse-image {
    text-align: center;
    max-width: 105px;
}
#site-wrapper .browse-page .browse-items table tbody td.browse-title {
    font-size: 25px;
    width: 40%;
}

#site-wrapper .browse-page .browse-items table tbody td.browse-title a {
    color:#333;
}

/*
	Browse Items Photos View
*/

#site-wrapper .browse-page .browse-items .browse-item{
    margin-bottom: 40px;
    min-height: 250px
}

#site-wrapper .browse-page .browse-items .browse-item .item {

}

#site-wrapper .browse-page .browse-items .browse-item .item img{
    width: 100%;
    height: auto;
    max-height: 200px;
}

#site-wrapper .browse-page .browse-items .browse-item .item a{
    font-size: 14px;
    color: black;
}

#site-wrapper .browse-page .browse-items .browse-item .item p{
    margin: 10px 0 0;
    height: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    line-height: 21px;
}

#site-wrapper .browse-page .gray-area {
    background: #f3f3f5;
    padding:0px;
    max-height: 50px;
    margin:50px 0 0px;
}

#site-wrapper  ul.pagination {
    font-family: Montserrat;
    margin:0px;
    padding: 0;
}

.view-empty {
    padding-bottom: 100px;

    h2 { margin: 40px 0 15px; }
}

#site-wrapper ul.pagination li  {
    cursor: pointer;
}

#site-wrapper ul.pagination li a {
    background: none;
    color:#58585a;
    border:none;
    padding: 14px 20px;
    font-weight: 700;
    text-transform: capitalize;
}

#site-wrapper  ul.pagination li a:hover {
    color:#3b3c3e;
}

#site-wrapper ul.pagination li.active a {
    background: #0076bd;
    color:#FFF;
}

#site-wrapper ul.pagination li.faded a {
    color:#c1c1c3;
}

#site-wrapper  ul.pagination li.faded a:hover {
    color:#c1c1c3;
}

#site-wrapper .browse-page .search-crumbs .list-inline > li {
    font-size: 12px;
    line-height: 18px;

    span { font-weight: 700; }
}