#feedbacker {
    position: fixed;
    bottom: 30px;
    right: 20px;
    opacity: 0.5;
    transition: 0.5s all;

    &:hover {
        opacity: 1;
        bottom: 40px;
    }

    .social-icon {
        display: inline-block;
        margin: 0 8px 0 0;
        position: relative;
        top: 15px;
        padding: 12px;
        background: #00aeef;
        border-radius: 99px;

        img {
            width: 18px;
            height: auto;
            opacity: 1;
            transition: 0.5s all;
        }
    }
}

.schools {
    border-top: 1px solid #f1f2f2;
    padding-top: 30px;

    img {
        height: auto !important;

        @media screen and #{$screen-md} {
            max-width: 200px;
        }
        @media screen and #{$screen-sm} {
            max-width: 160px;
        }
        @media screen and #{$screen-xs} {
            max-width: 140px;
        }
    }
}

#site-wrapper .footer {
	margin: 25px 0 0;
    background: #3a3a3c;
    padding: 22px 0 12px;
}

#site-wrapper .footer p {
    color:#FFF;
    color: rgba(255,255,255,0.75);
    font-size: 12px;
    font-weight: 300;
    line-height: 21px;
    margin: 0;
}

#site-wrapper .footer a {
	color:#FFF;
    text-decoration: underline;
    font-size: 10px;
    font-weight: 700;
    line-height: 14px;
}

#site-wrapper .footer a:hover {
    text-decoration: none;
}
