.navbar {
	border-radius: 0;
	padding: 12px 0;
    margin: 0px;
    border: none;
    border-bottom: 1px solid rgba(255,255,255,0.25);
    font-family: Montserrat;
    background: transparent;

    a.navbar-brand {
    	color:#FFF;
        text-transform: uppercase;
        font-weight: bold;
        height: 55px;
        padding: 8px 15px;
        opacity: 1;
        transition: 0.5s all;

        small {
            display: block;
            font-size: 12px;
            font-weight: 300;
            text-transform: none;
            font-style: italic;
            font-family: Merriweather;
            color: #eee;
        }
        img {
            display: inline-block;
            width: 36px;
            margin-top: -18px;
            display: none;
        }

        &:hover {
            opacity: 0.75;
        }

        @media screen and #{$screen-sm} {
            font-size: 21px;
            top: 10px;
            position: relative;
        }
        @media screen and #{$screen-xs} {
            top: 12px;
            position: relative;
        }
    }

    .navbar-toggle {
        border: 1px solid white;

        .icon-bar {
            background: white;
        }
    }

    .divider-vertical {
    	height: 30px;
    	margin: 10px 9px 0 9px;
    	border-right: 1px solid whitesmoke;
        border-right: 1px solid rgba(255,255,255,0.35);

        @media screen and #{$screen-xs} {
            display: none;
        }
    }

    .nav-links {
        float: right;

        @media screen and #{$screen-xs} {
            float: none;
            margin: 0 0 3px;
        }

        a {
            opacity: .65;
            color: white;
            transition: 0.5s all;

            &:hover, &:focus, &:active {
                opacity: 1;
                color: white !important;
            }

            @media screen and #{$screen-xs} {
                width: 100%;
                text-align: center;
                padding: 12px 0;
                border-radius: 0;

                &:hover, &:focus, &:active {
                    background: rgba(255,255,255,0.35) !important;
                }
            }
        }
    }

    .browse-li {
        .glyphicon {
            margin-right: 8px;
        }
    }

    .browse-li > a,
    .advance-search-li {
        padding: 8px 14px;
        border-radius: 30px;
        color: white;
        margin-top: 7px;
        margin-left: 5px;
        opacity: .65;
        cursor: pointer;
        transition: 0.5s all;
        font-size: 14px;
        line-height: 20px;

        &:hover, a:focus, a:active {
            //background: rgba(255,255,255,0.35) !important;
            //opacity: 1;
        }

        span {
            margin-right: 8px;
        }

        @media screen and #{$screen-sm} {
            padding: 8px;
            text-align: center;
            width: 36px;
            text-indent: 2px;
        }
        @media screen and #{$screen-xs} {
            text-align: center;
            margin: 0;
            padding: 12px 0;
            border-radius: 0;
        }
    }

    .navbar-collapse {
        padding: 0;

        @media screen and #{$screen-xs} {
            top: 15px;
            position: relative;
        }
    }
}

.non-homepage .navbar {
    margin-bottom: 40px;
    border-radius: 0;
    padding: 12px 0;
    border-bottom: 1px solid #ccc;
    background: #3a3a3c;
}

.search-icon {
	margin: 17px 0 0 8px;
	cursor: pointer;
}

li.filter.advance-search-link{
	border: solid 1px #0288cc!important;
	border-radius:5px !important;
	padding-left: 10px!important;
	padding-right: 10px!important;
	color:#0288cc;

}
