.navbar {
	border-radius: 0;
	padding: 12px 0;
    margin:0px;
    border-bottom: 1px solid rgba(255,255,255,0.25);
    font-family: Montserrat;
    background: transparent;

    a.navbar-brand {
    	color:#FFF;
        text-transform: uppercase;
        font-weight: bold;
        height: 55px;
        padding: 8px 15px;

        small {
            display: block;
            font-size: 12px;
            font-weight: 300;
            text-transform: none;
            font-style: italic;
            font-family: Merriweather;
            color: #eee;
        }
        img {
            display: inline-block;
            width: 36px;
            margin-top: -18px;
        }
    }

    .navbar-toggle {
        border: 1px solid white;
    
        .icon-bar {
            background: white;
        }
    }
    
    .divider-vertical {
    	height: 30px;
    	margin: 10px 9px 0 9px;
    	border-right: 1px solid whitesmoke;
        border-right: 1px solid rgba(255,255,255,0.35);

        @media screen and #{$screen-xs} {
            display: none;
        }
    }

    .nav-links {
        float: right;

        @media screen and #{$screen-xs} {
            float: left;
        }

        a {
            opacity: .65;
            color: white;
            transition: 0.5s all;

            &:hover, a:focus, a:active {
                opacity: 1;
                color: white !important;
            }
        }
    }

    .browse-li {
        a, a:hover, a:focus, a:active {
            padding: 0;
            color: white !important;
            opacity: 1 !important;
        }
        .glyphicon {
            margin-right: 8px;
        }
    }
    
    .browse-li,
    .advance-search-li {
        padding: 8px 14px;
        border-radius: 30px;
        color: white;
        margin-top: 7px;
        margin-left: 5px;
        opacity: .65;
        cursor: pointer;
        transition: 0.5s all;
        font-size: 14px;
        line-height: 20px;

        &:hover, a:focus, a:active {
            background: rgba(255,255,255,0.35);
            opacity: 1;
        }
        
        span {
            margin-right: 8px;
        }
    }

    .navbar-collapse {
        padding: 0;

        @media screen and #{$screen-xs} {
            top: 15px;
            position: relative;
        }
    }
}

.non-homepage .navbar {
    margin-bottom: 40px;
    border-radius: 0;
    padding: 12px 0;
    border-bottom: 1px solid #ccc;
    background: #3a3a3c;
}

.search-icon {
	margin: 17px 0 0 8px;
	cursor: pointer;
}