/** Blog Items **/

#site-wrapper .blog-top-details {
    border-bottom:1px solid #ddd;
    margin-bottom:40px;
}

#site-wrapper .blog-article-top-details {
    margin-bottom:25px;
    color:#00aeef;
}

#site-wrapper .blog-article-top-details a {
    color:#00aeef;
    font-weight: 700;
    font-size: 14px;
}

#site-wrapper .blog-article-top-details hr {
    border-top-color: #ddd;
    margin: 40px 0 20px;
}

#site-wrapper .blog-page .heading h1 {
    font-size: 30px;
}

#site-wrapper .blog-items {
    margin-bottom: 60px;
    font-family: Montserrat;
}

#site-wrapper .blog-items .blog-row {
    margin-bottom: 30px;
}

#site-wrapper .blog-items .blog-item {
    margin-bottom: 25px;
}

#site-wrapper .blog-article p.posted-date {
    font-weight: 300;
    font-size: 13px;
    color: #AAA;
}

#site-wrapper .blog-article h2 {
    line-height: 1.4;
}

#site-wrapper .blog-items .blog-row .blog-article h3 {
    margin-bottom: 15px;
    margin-top:0px;
    font-weight: 700;
}

#site-wrapper .blog-items .blog-row .blog-article h3 a {
	color:#333;
}
#site-wrapper .blog-items .blog-row .blog-article p {
    margin: 0px;
    font-size: 14px;
    line-height: 30px;
    font-family:Merriweather;
}

#site-wrapper .blog-page .gray-area {
    background: #f3f3f5;
    padding:0px;
    max-height: 50px;
    margin:50px 0 0px;
}
