#site-wrapper {
    .gray-area {
    	padding: 35px 60px 50px;

        @media screen and #{$screen-xs} {
            padding: 35px 30px 50px;
        }
    }
    .pagination > li:first-child > a, 
    .pagination > li:first-child > span {
    	border-top-left-radius: 0px !important;
    	border-bottom-left-radius: 0px !important;
    }
}

#edit-advanced {
	display: none !important;
}
#edit-actions {
	display: none !important;
}

.views-exposed-form { display: none !important; }
.ui-autocomplete { 
    position: absolute; 
    cursor: default;
    z-index:3000 !important;
    background: white;

    .ui-menu-item {
        list-style-image: none !important;
        font-family: Merriweather;
        font-size: 14px;
        padding: 4px 10px !important;

        &.ui-state-focus {
            background: #f1f2f2 !important;
        }
    }
}  