body {
  font-family: Merriweather;
}

ul.nav {
  a {
    color: #FFF !important;
    font-size: 14px;
    font-weight: 400;

    &:focus,
    &:hover {
      color: #27a9e1 !important;
      background: none !important;
    }

    &.blue-link {
      color: #00aeef;
      font-weight: bold;
      font-weight: 15px;
    }
  }
}

li,
p {
  font-size: 16px;
  font-weight: 300;
  line-height: 27px;
}

.homepage-blog-articles {
  a {
    color: white;
    text-decoration: underline;

    &:focus,
    &:hover {
      opacity: 0.65;
    }
  }
}
/* styling for tooltip pop-up, usage of !important is needed for styles for show */
.tooltip-inner p, td.hidden-sm.hidden-xs .tooltip-inner p {
  text-transform: lowercase!important;
  color: #fff!important;
  font-size: 12px!important;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif!important;
  font-weight: normal!important;
  padding: 0 !important;
  line-height: 17px!important;
  margin: 4px !important;
  text-align: center!important;
}

.tooltip-inner p:first-letter, .tooltip-inner span {
  text-transform: capitalize;
}
