@import url(http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
#site-wrapper .gray-area {
  padding: 35px 60px 50px; }
  @media screen and (max-width: 767px) {
    #site-wrapper .gray-area {
      padding: 35px 30px 50px; } }
#site-wrapper .pagination > li:first-child > a,
#site-wrapper .pagination > li:first-child > span {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important; }

#edit-advanced {
  display: none !important; }

#edit-actions {
  display: none !important; }

.views-exposed-form {
  display: none !important; }

.ui-autocomplete {
  position: absolute;
  cursor: default;
  z-index: 3000 !important; }

body {
  font-family: Merriweather; }

ul.nav a {
  color: #FFF !important;
  font-size: 14px;
  font-weight: 400; }
  ul.nav a:hover, ul.nav a:focus {
    color: #27a9e1 !important;
    background: none !important; }
  ul.nav a.blue-link {
    color: #00aeef;
    font-weight: bold;
    font-weight: 15px; }

p, li {
  font-size: 16px;
  font-weight: 300;
  line-height: 27px; }

.navbar {
  border-radius: 0;
  padding: 12px 0;
  margin: 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  font-family: Montserrat;
  background: transparent; }
  .navbar a.navbar-brand {
    color: #FFF;
    text-transform: uppercase;
    font-weight: bold;
    height: 55px;
    padding: 8px 15px; }
    .navbar a.navbar-brand small {
      display: block;
      font-size: 12px;
      font-weight: 300;
      text-transform: none;
      font-style: italic;
      font-family: Merriweather;
      color: #eee; }
    .navbar a.navbar-brand img {
      display: inline-block;
      width: 36px;
      margin-top: -18px; }
  .navbar .navbar-toggle {
    border: 1px solid white; }
    .navbar .navbar-toggle .icon-bar {
      background: white; }
  .navbar .divider-vertical {
    height: 30px;
    margin: 10px 9px 0 9px;
    border-right: 1px solid whitesmoke;
    border-right: 1px solid rgba(255, 255, 255, 0.35); }
    @media screen and (max-width: 767px) {
      .navbar .divider-vertical {
        display: none; } }
  .navbar .nav-links {
    float: right; }
    @media screen and (max-width: 767px) {
      .navbar .nav-links {
        float: left; } }
    .navbar .nav-links a {
      opacity: .65;
      color: white;
      transition: 0.5s all; }
      .navbar .nav-links a:hover, .navbar .nav-links a a:focus, .navbar .nav-links a a:active {
        opacity: 1;
        color: white !important; }
  .navbar .browse-li a, .navbar .browse-li a:hover, .navbar .browse-li a:focus, .navbar .browse-li a:active {
    padding: 0;
    color: white !important;
    opacity: 1 !important; }
  .navbar .browse-li .glyphicon {
    margin-right: 8px; }
  .navbar .browse-li,
  .navbar .advance-search-li {
    padding: 8px 14px;
    border-radius: 30px;
    color: white;
    margin-top: 7px;
    margin-left: 5px;
    opacity: .65;
    cursor: pointer;
    transition: 0.5s all;
    font-size: 14px;
    line-height: 20px; }
    .navbar .browse-li:hover, .navbar .browse-li a:focus, .navbar .browse-li a:active,
    .navbar .advance-search-li:hover,
    .navbar .advance-search-li a:focus,
    .navbar .advance-search-li a:active {
      background: rgba(255, 255, 255, 0.35);
      opacity: 1; }
    .navbar .browse-li span,
    .navbar .advance-search-li span {
      margin-right: 8px; }
  .navbar .navbar-collapse {
    padding: 0; }
    @media screen and (max-width: 767px) {
      .navbar .navbar-collapse {
        top: 15px;
        position: relative; } }

.non-homepage .navbar {
  margin-bottom: 40px;
  border-radius: 0;
  padding: 12px 0;
  border-bottom: 1px solid #ccc;
  background: #3a3a3c; }

.search-icon {
  margin: 17px 0 0 8px;
  cursor: pointer; }

#feedbacker {
  position: fixed;
  bottom: 30px;
  right: 20px;
  opacity: 0.35;
  transition: 0.5s all; }
  #feedbacker:hover {
    opacity: 1;
    bottom: 40px; }

.schools {
  border-top: 1px solid #f1f2f2;
  padding-top: 30px; }
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    .schools img {
      max-width: 200px; } }

#site-wrapper .footer {
  margin: 25px 0 0;
  background: #3a3a3c;
  padding: 22px 0 12px; }

#site-wrapper .footer p {
  color: #FFF;
  color: rgba(255, 255, 255, 0.75);
  font-size: 12px;
  font-weight: 300;
  line-height: 21px;
  margin: 0; }

#site-wrapper .footer a {
  color: #FFF;
  text-decoration: underline;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px; }

#site-wrapper .footer a:hover {
  text-decoration: none; }

#site-wrapper .footer .social-icons {
  text-align: right; }

#site-wrapper .footer .social-icons > li {
  padding: 0; }

#site-wrapper .footer a.social-icon {
  text-decoration: none;
  line-height: 100%;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center center;
  text-indent: -900em;
  text-align: left;
  opacity: .3;
  transition: .4s top ease-in-out, .4s opacity ease-in-out, .4s background ease-in-out; }

#site-wrapper .footer a.social-icon:hover {
  opacity: 1; }

#site-wrapper .footer a.twitter {
  background-image: url(../assets/icon_twitter.png);
  background-image: url(../assets/icon_twitter.svg), none; }

#site-wrapper .footer a.facebook {
  background-image: url(../assets/icon_facebook.png);
  background-image: url(../assets/icon_facebook.svg), none; }

#site-wrapper .footer a.google {
  background-image: url(../assets/ico_gplus.png);
  background-image: url(../assets/icon_gplus.svg), none; }

#site-wrapper .footer a.pinterest {
  background-image: url(../assets/icon_pinterest.png);
  background-image: url(../assets/icon_pinterest.svg), none; }

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #site-wrapper .footer a.social-icon {
    width: 48px;
    height: 48px; }

  #site-wrapper .footer a.twitter {
    background-image: url(../assets/icon_twitter@2x.png);
    background-image: url(../assets/icon_twitter.svg), none; }

  #site-wrapper .footer a.facebook {
    background-image: url(../assets/icon_facebook@2x.png);
    background-image: url(../assets/icon_facebook.svg), none; }

  #site-wrapper .footer a.google {
    background-image: url(../assets/ico_gplus@2x.png);
    background-image: url(../assets/icon_gplus.svg), none; }

  #site-wrapper .footer a.pinterest {
    background-image: url(../assets/icon_pinterest@2x.png);
    background-image: url(../assets/icon_pinterest.svg), none; } }
#site-wrapper .heading-line {
  margin: 0 auto;
  height: 1px;
  width: 25%;
  background-color: #bfbfbf;
  text-align: center; }
#site-wrapper .heading-text {
  padding: 0 15px;
  background-color: white;
  position: relative;
  top: -10px;
  font-weight: bold;
  color: #000;
  font-family: Montserrat; }
#site-wrapper .heading-text-explore {
  color: #6c6d71; }

#site-wrapper .hero-image {
  background: url(../assets/header_background.jpg) top center no-repeat;
  margin: 0 0 200px 0;
  background-size: cover;
  /* <------ */
  background-repeat: no-repeat;
  background-position: center center;
  height: 650px; }

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #site-wrapper .hero-image {
    background: url(../assets/header_background@2x.jpg) top center no-repeat;
    background-size: cover; } }
#site-wrapper .hero-image .homepage-slider h1 {
  margin: 0 0 35px;
  color: white;
  line-height: 1.4; }

#site-wrapper .homepage-slider {
  margin: 100px 0px -100px; }

#site-wrapper .homepage-slider .search {
  border: 8px solid rgba(0, 0, 0, 0.25);
  border-radius: 14px; }

#site-wrapper .homepage-slider .search input {
  height: 60px;
  border-radius: 9px;
  background: #f1f2f2;
  font-size: 18px;
  padding: 6px 18px;
  transition: 0.5s all; }
  #site-wrapper .homepage-slider .search input:active, #site-wrapper .homepage-slider .search input:focus, #site-wrapper .homepage-slider .search input:hover {
    background: white; }

#site-wrapper .homepage-slider .flexslider {
  border: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 2;
  max-width: 555px;
  margin: 0 auto 60px; }

#site-wrapper .homepage-slider .flexslider:after {
  content: '';
  background: #AAA;
  -webkit-transform: rotate(2deg);
  transform: rotate(2deg);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25); }

#site-wrapper .homepage-slider .flexslider .slides > li {
  position: relative; }

#site-wrapper .homepage-slider .flex-nav-container {
  margin-top: 30px;
  position: relative; }

#site-wrapper .homepage-slider .flex-control-paging {
  bottom: -45px; }

#site-wrapper .homepage-slider .flex-control-paging li a {
  border: 1px solid #bdbdbf;
  background: transparent;
  box-shadow: none;
  -webkit-box-shadow: none;
  padding: 5px;
  -moz-box-shadow: none; }

#site-wrapper .homepage-slider .flex-control-paging li a.flex-active {
  border: 3px solid #24a9e1;
  background: white;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none; }

.flex-caption {
  width: auto;
  padding: 15px 20px 15px 20px;
  position: absolute;
  bottom: 15px;
  margin: 0 15px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  font-size: 14px;
  line-height: 18px; }

.flex-caption p, h2, h2.lead {
  margin: 0px; }

.flex-caption p {
  font-size: 12px;
  text-transform: uppercase;
  color: #CCC;
  font-weight: bold;
  font-family: 'Montserrat';
  margin-bottom: 5px;
  line-height: 12px; }

#site-wrapper .homepage-about-info .about-info {
  margin: 60px 0 70px; }

#site-wrapper .homepage-explore-info .explore-items {
  margin: 60px 0 40px; }

#site-wrapper .homepage-explore-info .explore-items img {
  max-height: 120px; }

#site-wrapper .homepage-about-info .about-info p {
  line-height: 35px;
  font-size: 15px;
  font-weight: 300; }

#site-wrapper .homepage-explore-info .explore-items p {
  line-height: 35px; }

#site-wrapper .homepage-explore-info .explore-items ul li {
  margin-bottom: 30px;
  vertical-align: middle; }

#site-wrapper .blog-area {
  background: url(../assets/blog_background.jpg) top center no-repeat;
  font-family: Montserrat;
  background-size: cover;
  /* <------ */
  background-repeat: no-repeat;
  background-position: center center;
  padding: 10px 0 40px; }

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #site-wrapper .blog-area {
    background: url(../assets/blog_background@2x.jpg) top center no-repeat; } }
#site-wrapper .homepage-blog-articles .blog-article {
  margin: 30px 0 0;
  color: white; }

#site-wrapper .homepage-blog-articles .blog-article h3 a {
  color: white; }

#site-wrapper .homepage-blog-articles .blog-article h3 a:hover {
  text-decoration: none; }

.btn-blog {
  border: 2px solid #FFF;
  font-weight: bold;
  font-size: 1.3rem;
  padding: 13px 24px;
  color: white;
  text-transform: uppercase;
  background: none;
  border-radius: 0; }

.btn-blog:hover {
  color: #08c;
  background: white; }

hr.blog-hr {
  width: 35%;
  float: left;
  opacity: 0.35;
  margin: 30px 0; }

#site-wrapper .homepage-blog-articles p:not(.posted-date) {
  font-family: Merriweather;
  line-height: 1.8;
  font-weight: 300; }

#site-wrapper .homepage-blog-articles h3 {
  font-family: Montserrat;
  margin: 0; }

#site-wrapper .homepage-blog-articles p.posted-date {
  color: white !important;
  font-size: 12px; }

#site-wrapper .homepage-college-info {
  padding: 20px 0 15px; }

#site-wrapper .homepage-college-info ul.college-list li {
  margin: 0 0 0 0; }

/*** Browse CSS ***/
#site-wrapper .browse-page .heading h1 {
  font-size: 30px; }
#site-wrapper .browse-page .heading li.filter-icon span.glyphicon {
  padding: 9px;
  border: 1px solid #337ab7;
  border-radius: 5px;
  padding-left: 10px;
  cursor: pointer;
  color: #337ab7 !important; }
#site-wrapper .browse-page .heading li.filter-icon span.active-icon {
  background-color: white;
  border: 1px solid #0088cc; }
#site-wrapper .browse-page .heading li.faded-icon span.glyphicon {
  padding: 9px;
  border: 1px solid #999;
  border-radius: 5px;
  padding-left: 10px;
  cursor: pointer;
  opacity: .3;
  color: #333 !important;
  transition: 0.5s all; }
  #site-wrapper .browse-page .heading li.faded-icon span.glyphicon:hover {
    opacity: 1;
    border: 1px solid #999;
    background: white;
    color: black !important; }
#site-wrapper .browse-page .heading li.filter h4 {
  cursor: pointer; }
#site-wrapper .browse-page .heading li.filter span.glyphicon {
  font-size: .7em;
  margin: 0 0 0 6px; }
#site-wrapper .browse-page .heading .divider-vertical {
  height: 35px;
  margin: 9px 9px 0;
  border-right: 1px solid #f1f2f2; }
#site-wrapper .browse-page .heading .browse-filters ul {
  margin: 0px;
  padding: 0px; }
  #site-wrapper .browse-page .heading .browse-filters ul li {
    float: left;
    list-style: none;
    margin-left: 20px; }
    #site-wrapper .browse-page .heading .browse-filters ul li.filter-icon {
      margin: 10px 5px 0 6px; }
    #site-wrapper .browse-page .heading .browse-filters ul li.filter {
      border-right: 1px solid #f1f2f2;
      border-left: 1px solid #f1f2f2; }
      #site-wrapper .browse-page .heading .browse-filters ul li.filter p {
        text-transform: uppercase;
        color: #bbb;
        font-weight: bold;
        margin: 6px 0 8px 0;
        font-size: 11px; }
      #site-wrapper .browse-page .heading .browse-filters ul li.filter h4 {
        color: #222;
        margin: 0px;
        font-size: 14px; }
#site-wrapper .browse-page .browse-items {
  margin: 35px 0 0 0; }
  #site-wrapper .browse-page .browse-items table {
    max-width: 100%; }
  #site-wrapper .browse-page .browse-items table thead td {
    font-weight: bold; }
  #site-wrapper .browse-page .browse-items table thead tr td {
    border-bottom: 4px solid #f3f3f3;
    font-size: 12px;
    font-family: Montserrat;
    font-weight: 700;
    text-transform: uppercase; }
  #site-wrapper .browse-page .browse-items table tbody tr td {
    padding-top: 18px;
    border-bottom: 1px solid #e9e9e9;
    padding-bottom: 20px; }
    #site-wrapper .browse-page .browse-items table tbody tr td:nth-child(1n) {
      min-width: 110px; }
    #site-wrapper .browse-page .browse-items table tbody tr td:nth-child(2n) {
      max-width: 400px;
      padding-right: 20px; }
    #site-wrapper .browse-page .browse-items table tbody tr td:nth-child(3n) {
      min-width: 70px; }
    #site-wrapper .browse-page .browse-items table tbody tr td:nth-child(4n) {
      min-width: 300px; }
      @media screen and (min-width: 992px) and (max-width: 1199px) {
        #site-wrapper .browse-page .browse-items table tbody tr td:nth-child(4n) {
          max-width: 240px; } }
    #site-wrapper .browse-page .browse-items table tbody tr td:nth-child(5n) {
      min-width: 120px; }
  #site-wrapper .browse-page .browse-items table img {
    max-height: 88px;
    max-width: 88px;
    margin: 0 auto; }
  #site-wrapper .browse-page .browse-items table tbody tr:last-of-type td {
    border-bottom: none; }
  #site-wrapper .browse-page .browse-items table tbody td.browse-image {
    text-align: center;
    max-width: 105px; }
  #site-wrapper .browse-page .browse-items table tbody td.browse-title {
    font-size: 24px; }
    @media screen and (min-width: 992px) and (max-width: 1199px) {
      #site-wrapper .browse-page .browse-items table tbody td.browse-title {
        font-size: 21px; } }
  #site-wrapper .browse-page .browse-items table tbody td.browse-title a {
    color: #333;
    word-wrap: break-word; }
  #site-wrapper .browse-page .browse-items .browse-item {
    margin-bottom: 40px;
    min-height: 250px; }
    #site-wrapper .browse-page .browse-items .browse-item .item img {
      width: 100%;
      height: auto;
      max-height: 200px; }
    #site-wrapper .browse-page .browse-items .browse-item .item a {
      font-size: 14px;
      color: black; }
    #site-wrapper .browse-page .browse-items .browse-item .item p {
      margin: 10px 0 0;
      height: 40px;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 100%;
      line-height: 21px; }
#site-wrapper .browse-page .browse-top-details {
  border-bottom: 1px solid #ddd; }
#site-wrapper .browse-page .gray-area {
  background: #f3f3f5;
  padding: 0px;
  max-height: 50px;
  overflow: hidden;
  margin: 50px 0 0px; }
#site-wrapper .search-crumbs .list-inline > li {
  font-size: 12px;
  line-height: 18px; }
  #site-wrapper .search-crumbs .list-inline > li span {
    font-weight: 700; }
#site-wrapper .view-empty {
  padding-bottom: 100px; }
  #site-wrapper .view-empty h2 {
    margin: 40px 0 15px; }
#site-wrapper ul.pagination {
  font-family: Montserrat;
  margin: 0;
  padding: 0; }
  #site-wrapper ul.pagination li {
    cursor: pointer; }
    #site-wrapper ul.pagination li a {
      background: none;
      color: #58585a;
      border: none;
      padding: 14px 20px;
      font-weight: 700;
      text-transform: capitalize;
      font-family: Merriweather;
      font-size: 12px;
      height: 52px;
      line-height: 24px; }
      #site-wrapper ul.pagination li a:hover {
        color: #3b3c3e; }
    #site-wrapper ul.pagination li.active a {
      background: #0076bd;
      color: #FFF; }
    #site-wrapper ul.pagination li.faded a {
      color: #c1c1c3; }
      #site-wrapper ul.pagination li.faded a:hover {
        color: #c1c1c3; }

/** Blog Items **/
#site-wrapper .content-area {
  margin-bottom: 80px; }
  #site-wrapper .content-area h3 {
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 700;
    color: #00aeef;
    text-transform: uppercase;
    margin: 25px 0 15px; }
  #site-wrapper .content-area p {
    line-height: 2.1; }
#site-wrapper .blog-top-details {
  border-bottom: 1px solid #ddd;
  margin-bottom: 40px; }
  #site-wrapper .blog-top-details .lead {
    max-width: 80%; }
#site-wrapper .blog-article-top-details {
  margin-bottom: 25px;
  color: #00aeef; }
  #site-wrapper .blog-article-top-details a {
    color: #00aeef;
    font-weight: 700;
    font-size: 14px; }
  #site-wrapper .blog-article-top-details hr {
    border-top-color: #ddd;
    margin: 40px 0 20px; }
#site-wrapper .blog-page {
  margin-bottom: 0; }
  #site-wrapper .blog-page .heading h1 {
    font-size: 30px; }
  #site-wrapper .blog-page .gray-area {
    background: #f3f3f5;
    padding: 0px;
    max-height: 50px;
    margin: 50px 0 0px; }
  #site-wrapper .blog-page .blog-content {
    margin-top: 0; }
    #site-wrapper .blog-page .blog-content p {
      line-height: 2.1; }
#site-wrapper .blog-items {
  margin-bottom: 60px;
  font-family: Montserrat; }
  #site-wrapper .blog-items .blog-row {
    margin-bottom: 30px; }
  #site-wrapper .blog-items .blog-item {
    margin-bottom: 25px; }
  #site-wrapper .blog-items .blog-article p.posted-date {
    font-weight: 300;
    font-size: 13px;
    color: #AAA; }
  #site-wrapper .blog-items .blog-article h2 {
    line-height: 1.4; }
  #site-wrapper .blog-items .blog-article h3 {
    margin-bottom: 15px;
    margin-top: 0px;
    font-weight: 700; }
    #site-wrapper .blog-items .blog-article h3 a {
      color: #333; }
  #site-wrapper .blog-items .blog-article p {
    margin: 0px;
    font-size: 14px;
    line-height: 30px;
    font-family: Merriweather; }

.modal-backdrop {
  background-color: white; }

#search-modal .search-filter .institution {
  padding: 0;
  margin: 0px 7px;
  width: 100%; }
  #search-modal .search-filter .institution li {
    padding: 0;
    margin: 0;
    list-style-type: none;
    vertical-align: middle;
    height: 2em;
    display: inline-block;
    width: 48%;
    min-width: 48%; }
    #search-modal .search-filter .institution li input {
      margin-right: 1em; }
  #search-modal .search-filter .institution label {
    font-weight: 300; }
#search-modal input[type="text"] {
  color: #353535;
  padding: 9px 12px 7px;
  height: 38px; }
#search-modal button[type="submit"] {
  font-weight: 700;
  color: #00adef; }
  #search-modal button[type="submit"]:hover {
    color: #0689bc;
    text-decoration: none; }
#search-modal .modal-content {
  border-radius: 1px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
  border: none; }
  #search-modal .modal-content .modal-body {
    padding: 20px;
    margin: 0; }
#search-modal .modal-header {
  padding: 20px;
  border-bottom: 2px solid #f1f2f2; }
  #search-modal .modal-header h2 {
    font-size: 21px;
    color: gray; }
  #search-modal .modal-header .close {
    margin-top: -10px;
    padding: 12px;
    font-size: 27px;
    margin-right: -10px; }
#search-modal .search-filter {
  margin-bottom: 20px; }
  #search-modal .search-filter p {
    text-transform: uppercase;
    color: #949494;
    font-size: 11px;
    font-weight: 400;
    line-height: 14px;
    font-family: Montserrat;
    margin-bottom: 8px; }
    #search-modal .search-filter p a {
      color: #08c;
      display: inline-block;
      font-family: Montserrat;
      font-weight: 700;
      text-decoration: underline;
      margin-left: 10px;
      transition: 0.5s all; }
      #search-modal .search-filter p a:hover {
        color: #006699; }
  #search-modal .search-filter input.date-control {
    width: 47%;
    display: inline; }
  #search-modal .search-filter .dates-separator {
    width: 4.5%;
    text-align: center;
    display: inline-block; }
  #search-modal .search-filter .checkbox-inline {
    margin-right: 15%;
    margin-left: 0px;
    font-weight: normal;
    font-size: 16px; }
    #search-modal .search-filter .checkbox-inline label {
      font-weight: normal;
      font-size: 16px; }
#search-modal table.borderless tr td {
  border: none;
  padding: 3px 8px; }
#search-modal table tr td label {
  font-weight: normal;
  font-size: 13px;
  margin-bottom: 0px;
  font-family: Merriweather; }
  #search-modal table tr td label input[type="checkbox"] {
    margin-right: 5px; }
#search-modal .item-list ul li {
  margin: 0px !important; }

li.mobile-search #edit-actions--2 {
  display: none !important; }
li.mobile-search input {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  width: 730px;
  overflow-x: hidden;
  padding-left: 8px;
  margin-left: 10px; }

li.search-li input {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  padding-left: 8px; }
li.search-li .form-item,
li.search-li .form-actions {
  margin: 1.2em 0 1em 3px; }

.popover {
  max-width: 100%;
  left: 0 !important;
  width: 100%;
  border-radius: 0px;
  border: none;
  background: #f3f3f5;
  border-bottom: none;
  margin-top: 20px !important;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1); }
  .popover > .arrow,
  .popover > .arrow:after {
    display: none; }
  .popover ul {
    max-width: 1170px;
    width: auto;
    margin: 30px auto; }
  .popover li {
    font-size: 14px;
    font-weight: 400;
    color: #aaa;
    width: 224px;
    margin-bottom: 20px;
    line-height: 18px;
    vertical-align: top; }
    .popover li a {
      color: #aaa;
      position: relative; }
      .popover li a:hover {
        color: #0078bd;
        text-decoration: none; }
      .popover li a.active, .popover li a.active:hover {
        color: #0078bd;
        text-decoration: none;
        font-weight: 700; }
        .popover li a.active:before, .popover li a.active:hover:before {
          content: '\221A';
          position: absolute;
          left: -20px; }

#site-wrapper .browse-content {
  margin: 0 0 70px 0; }

#site-wrapper .browse-content .pdf-link {
  font-size: 12px;
  border: 2px solid #00aeef;
  border-radius: 99px;
  padding: 10px 16px;
  display: block;
  margin-top: 18px;
  font-family: Montserrat;
  font-weight: 700; }

#site-wrapper .browse-content .share-item {
  margin-top: 8px; }

#site-wrapper .browse-content .share-item p {
  font-weight: bold;
  font-size: 10px;
  text-transform: uppercase;
  font-family: Montserrat;
  color: #bfbfbf;
  line-height: 21px;
  margin-bottom: 0; }

#site-wrapper .browse-content .share-item li {
  padding: 0; }

#site-wrapper .browse-content .share-item a.social-icon {
  text-decoration: none;
  line-height: 100%;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center center;
  text-indent: -900em;
  opacity: .5;
  transition: .4s top ease-in-out, .4s opacity ease-in-out, .4s background ease-in-out; }

#site-wrapper .browse-content .share-item a.social-icon:hover {
  opacity: 1; }

#site-wrapper .browse-content .share-item a.mail {
  background-image: url(../assets/icon_gray_email.png);
  background-image: url(../assets/icon_gray_email.svg), none; }

#site-wrapper .browse-content .share-item a.facebook {
  background-image: url(../assets/icon_gray_facebook.png);
  background-image: url(../assets/icon_gray_facebook.svg), none; }

#site-wrapper .browse-content .share-item a.twitter {
  background-image: url(../assets/icon_gray_twitter.png);
  background-image: url(../assets/icon_gray_twitter.svg), none; }

#site-wrapper .browse-content .share-item a.pinterest {
  background-image: url(../assets/icon_gray_pinterest.png);
  background-image: url(../assets/icon_gray_pinterest.svg), none; }

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #site-wrapper .browse-content .share-item a.social-icon {
    width: 36px;
    height: 36px; }

  #site-wrapper .browse-content .share-item a.mail {
    background-image: url(../assets/icon_gray_email@2x.png);
    background-image: url(../assets/icon_gray_email.svg), none; }

  #site-wrapper .browse-content .share-item a.facebook {
    background-image: url(../assets/icon_gray_facebook@2x.png);
    background-image: url(../assets/icon_gray_facebook.svg), none; }

  #site-wrapper .browse-content .share-item a.twitter {
    background-image: url(../assets/icon_gray_twitter@2x.png);
    background-image: url(../assets/icon_gray_twitter.svg), none; }

  #site-wrapper .browse-content .share-item a.pinterest {
    background-image: url(../assets/icon_gray_pinterest@2x.png);
    background-image: url(../assets/icon_gray_pinterest.svg), none; } }
#site-wrapper .browse-content .content-information {
  padding: 0 8px; }

#site-wrapper .browse-content .content-information ul li {
  margin: 0 0 30px 0; }

#site-wrapper .browse-content .content-information ul li span {
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  color: #bfbfbf;
  margin: 0 0 5px 0;
  display: block;
  font-family: Montserrat; }

#site-wrapper .browse-content .content-information ul li p {
  font-size: 19px;
  color: #353535; }

#site-wrapper .browse-content .content-information ul li p a {
  font-weight: bold;
  color: #353535;
  text-decoration: underline; }

#site-wrapper .browse-content .content-information ul li .cite-detail p {
  border-radius: 6px;
  padding: 20px;
  border: 1px solid #e9e9e9;
  font-size: 18px;
  word-wrap: break-word; }

#site-wrapper .browse-content .content-information ul li .cite-detail span {
  margin: 0 0 15px 0; }

#site-wrapper .similar-items-detail {
  margin: 30px 0 0px; }

#site-wrapper .similar-items-detail .similar-items {
  margin: 40px 0 0; }

#site-wrapper .similar-items-detail .similar-items ul li {
  margin-bottom: 30px;
  vertical-align: middle; }

#site-wrapper .similar-items-detail .similar-items img {
  max-height: 120px; }
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    #site-wrapper .similar-items-detail .similar-items img {
      max-width: 120px; } }

#site-wrapper .browse-item-page .gray-area {
  background-color: #f3f3f5;
  padding: 50px 0;
  margin-bottom: 0; }

#site-wrapper .similar-items-detail .heading-text {
  padding: 0 15px;
  background-color: #f3f3f5;
  position: relative;
  top: -10px;
  font-weight: bold;
  color: #6c6d6f;
  font-family: Montserrat; }

@media screen and (max-width: 767px) {
  #site-wrapper .heading-line {
    width: 80%; }

  #site-wrapper .navbar-brand small {
    display: none; } }
#site-wrapper .browse-item-page .heading .heading-row {
  margin: 40px 0 25px; }

#site-wrapper .browse-item-page .heading ul.heading-title li {
  margin-right: 17px; }

#site-wrapper .browse-item-page .heading ul.heading-title li p {
  color: #6d6e70;
  font-weight: bold; }

#site-wrapper .browse-item-page .contact-button {
  margin: 20px 0 25px; }

#site-wrapper .browse-item-page .btn-contact {
  background-color: #d1d2d4;
  color: #59595b;
  font-weight: bold;
  padding: 12px 25px; }

#site-wrapper .browse-item-page .btn-contact:hover {
  background-color: #e2e2e2;
  color: #59595b;
  font-weight: bold;
  padding: 12px 25px; }

#pdf-modal .modal-content {
  border-radius: 0;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
  border: none; }

/*# sourceMappingURL=main.css.map */
